<section id="about" class="container content-section">
<% if current_user && current_user.admin? %> <% end %>
<p id="notice"><%= notice %></p>

<%= form_tag(bookings_path, :method => "get") do %>
  <%= text_field_tag :search, nil, :placeholder => "Search Bookings by user_id" %>
  <%= submit_tag "Search" %>
<% end %>  

<h1>Listing Bookings</h1>
	
<table border-spacing="150">
 
  <thead>
    <tr>
      <th>User Id</th>
      <th>Select Bicycle</th>
      <th>Female Bicycles</th>
      <th>Male Bicycles</th>
      <th>Kids Bicycles</th>
      <th>Date from</th>
      <th>Date to</th>
      <th>Price</th>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user_id %></td>
        <td><%= booking.bicycle_type %></td>
        <td><%= booking.female_bicycles %></td>
        <td><%= booking.male_bicycles %></td>
        <td><%= booking.kids_bicycles %></td>
        <td><%= booking.date_from %></td>
        <td><%= booking.date_to %></td>
        <td><%= booking.price %></td>
        <td><%= link_to 'Show', booking %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Booking', new_booking_path %>
<% end %>
</section>