
<section id="about" class="container content-section"><p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Select Bicycle:</strong>
  <%= @booking.bicycle_type %>
</p>

<p>
  <strong>Female Bicycles:</strong>
  <%= @booking.female_bicycles %>
</p>

<p>
  <strong>Male Bicycles:</strong>
  <%= @booking.male_bicycles %>
</p>

<p>
  <strong>Kids Bicycles:</strong>
  <%= @booking.kids_bicycles %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @booking.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @booking.date_to %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booking.price %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
</section>