<!DOCTYPE html>
<html lang="en">
  <head>
    
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      
      <!-- Custom CSS -->
      <%= stylesheet_link_tag "home.css.scss" %> 
  </head>

  <body>
   
       
      
    
      <section id="about" class="container content-section">	
     
      <div class="center jumbotron"  style="height: 490px; padding-top: 5px">
          <h1 class="display-1">Welcome to the World of Cycling</h1>
          <%= image_tag("bike.jpg", :alt => "rss feed",:width=>900, :height=>250) %>
          <p>Come join the fun and see Dublin in a whole new light from the scenic<br>
             Tour of Trinity College up to Dublin Castle and then through the beauty of the Phoenix Park </p>
          <%= link_to "Sign up now", new_user_registration_path,:class =>"btn btn-lg btn-success" %>
      </div>
   
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  
  </div>
</html>