<!DOCTYPE html>
<html>
<head>
  <title>BikeRentals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'shared/navbar' %>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>
<div id="footer">
        <p>&copy; 2016 Joey's Bike Rentals, Inc.</p>
        </section>
</div>
</body>
</html>
